# Application settings
NODE_ENV=<development|production|test>
PORT=<number>

# Databases
DATABASE_URL=<URL>
RATE_LIMIT_DATABASE_URL=<URL>

# JWT
JWT_SECRET=<secret_token>

# SMTP
SMTP_SERVICE=<smtp_host>
SMTP_USER=<email>
SMTP_PASS=<password>

TOKEN_HIDEOUT=<token_header
AUTH_BEARER=<token_bearer>

REFRESH_HIDEOUT=<refresh_header>
REFRESH_BEARER=<refresh_bearer>